<header>
    <a class="title" href="/">
        <h1>
        </h1>
        <% if (config.subtitle) { %>            
        <h6>
<!-- ASCII Art Start -->
    <pre style="text-align: center;">
     s          ..                                 
    :8    < .z@8"`        ..                       
   .88     !@88E         @L             u.    u.   
  :888ooo  '888E   u    9888i   .dL   x@88k u@88c. 
-*8888888   888E u@8NL  `Y888k:*888. ^"8888""8888" 
  8888      888E`"88*"    888E  888I   8888  888R  
  8888      888E .dN.     888E  888I   8888  888R  
  8888      888E~8888     888E  888I   8888  888R  
 .8888Lu=   888E '888&    888E  888I   8888  888R  
 ^%888*     888E  9888.  x888N><888'  "*88*" 8888" 
   'Y"    '"888*" 4888"   "88"  888     ""   'Y"   
             ""    ""           88F                
                               98"                 
                             ./"                   
                            ~`                     
</pre>
    <!-- ASCII Art End -->
        </h6>
        <h5>
        <%= config.subtitle %>
        </h5>
        <% } %>
    </a>
    <nav>
        <p>
            <% for (let name in theme.menu) { %><a href="<%- url_for(theme.menu[name]) %>"><%= name %></a><% } %>
        </p>
    </nav>
</header>